.table-template{

    &.table-loading {
        
        table {
            min-height: 14rem !important;
        }
    }

    .table-header{
        border: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .title{
            margin-left: 2rem;
        }

        .add-course{
            margin: 1rem 0;
        }
    } 

    .crud-btn-container{
        display: flex;
        justify-content: center;

        span{
            margin: 10px;
            padding: 5px;
            cursor: pointer;
        }
    }
}

.modal-wrapper{

    .description-label{
        display: inline-block;
        font-size: 0.875rem;
        font-weight: 500;
        color: #212529;
        word-break: break-word;
        cursor: default;
        -webkit-tap-highlight-color: transparent;
    }

    .course-submit{
        margin-top: 1rem;
    }
}