.mantine-14rseik{
  position: absolute;
  top: 0;
  left: 0;
}

.mantine-1k0dou4{
  height: auto;
}

.mantine-nlxhsk{
  position: relative;
  top: 0;
}

.mantine-MonthLevel-monthLevel.mantine-DatePicker-monthLevel.mantine-yxmaw9 {
  border: 2px solid #ced4da;
  border-radius: 5px;
}

.tabler-icon-eye-filled{
  color: gray;
}

.mantine-1puzaii div{
  text-align: center;
}

/* appbar main div css */
.mantine-wq5svq {
  background: aliceblue;
}

/* appbar header css */
.mantine-4e8d6x {
  height: 4.125rem;
  max-height: 4.125rem;
}