.mantine-14rseik{
  position: absolute;
  top: 0;
  left: 0;
}

.mantine-1k0dou4{
  height: auto;
}

.mantine-nlxhsk{
  position: relative;
  top: 0;
}

.mantine-MonthLevel-monthLevel.mantine-DatePicker-monthLevel.mantine-yxmaw9 {
  border: 2px solid #ced4da;
  border-radius: 5px;
}

